{% extends "base_generic.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Unreal Futbol | Terminos y condiciones</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/estilos.css">
    </head>
    <body>

        <div class="jumbotron">
            <h1>Terminos y Condiciones</h1>
            <hr>
            <p>Al aceptar estos terminos y Condiciones aceptas tener mayoria de edad (18) y que sabes en que consiste el sitio de apuesta. </p>

        </div>

    </body>
</html>
{% endblock %}
